.events-container {
  display: -ms-grid;
  display: grid;
  gap: 30px 4px;
  -ms-grid-columns: 1fr 4px 1fr;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 25px;
}
@-webkit-keyframes rotate-animation {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@keyframes rotate-animation {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
.event-card {
  max-width: 272px;
  position: relative;
  display: -ms-grid;
  display: grid;
  gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-column-align: center;
      justify-self: center;
  &:after {
    content: '';
    width: 79%;
    height: 44%;
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid $accent-color;
    border-radius: 50px 0px 50px 0px;
    opacity: 0.3;
  }
  &__image {
    margin-top: 9px;
    width: calc(100% - 10px);
    aspect-ratio: 4/5;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50px 0px 50px 0px;
    -webkit-animation: rotate-animation 0.5s ease-in;
            animation: rotate-animation 0.5s ease-in;
  }
  &__title {
    font-family: $main-font;
    color: $accent-color;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    text-align: center;
  }
  &__date {
    font-size: 14px;
    line-height: 17.07px;
  }
  &__locale {
    font-size: 12px;
    font-weight: 600;
    line-height: 14.63px;
  }
}
@media (min-width: $tablet-diversity--min) {
  .events-container {
    gap: 45px 13px;
    -ms-grid-columns: 1fr 13px 1fr 13px 1fr;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 64px;
  }
}
@media (min-width: $laptop-diversity--min) {
  .events-container {
    width: 964px;
    gap: 50px 56px;
    -ms-grid-columns: 1fr 56px 1fr 56px 1fr 56px 1fr;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
  }
}