//colors
$main-text-color: #fff;
$alternative-text-color: #0e0e0e;
$accent-color: #dc56c5;
$blured-color: #939393;
$active-color: #4c00fe;

//devices
$mobile-diversity--max: 767px;
$tablet-diversity--min: 768px;
$laptop-diversity--min: 1280px;

//font-family
$main-font: 'Montserrat', 'serif';
